<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1 id="logo">Emotion AI</h1>
								<hr />
								<p>Check your today's emotion</p>
							</header>
							<footer>
								<a href="/analysis" class="button circled scrolly">Start</a>
							</footer>
						</div>

					<!-- Nav -->
                    <nav id="nav">
                        {% extends 'constant_bar.html' %}
                    </nav>
				</div>
		</div>
	</body>
</html>